[submodule "ESPControlCenter/src/crypto"]
	path = ESPControlCenter/src/crypto
	url = https://github.com/kakopappa/arduino-esp8266-aes-lib.git
[submodule "ESPControlCenter/rpi-playground/u8g2"]
	path = ESPControlCenter/rpi-playground/u8g2
	url = https://github.com/olikraus/u8g2.git
	branch = master
[submodule "ESPControlCenter/rpi-playground/wiringpi"]
	path = ESPControlCenter/rpi-playground/wiringpi
	url = https://github.com/WiringPi/WiringPi.git
	branch = master
[submodule "ShutterMotorRemoteReceiver/Firmware.X/nrf24l01plus"]
	path = ShutterMotorRemoteReceiver/Firmware.X/nrf24l01plus
	url = https://github.com/tomikaa87/nrf24L01_plus.git
[submodule "ShutterMotorControllerHub/proto-f4disco/BlynkLib"]
	path = ShutterMotorControllerHub/proto-f4disco/BlynkLib
	url = https://github.com/blynkkk/blynk-library.git
[submodule "ShutterMotorControllerHub/smch-rpi-qt/3rdparty/wiring-pi"]
	path = ShutterMotorControllerHub/smch-rpi-qt/3rdparty/wiring-pi
	url = https://github.com/WiringPi/WiringPi.git
[submodule "ShutterMotorControllerHub/smch-rpi-qt/3rdparty/blynk-library"]
	path = ShutterMotorControllerHub/smch-rpi-qt/3rdparty/blynk-library
	url = https://github.com/blynkkk/blynk-library.git
