<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="home.tomikaa.chargecontroller">

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_charging_color"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_charging_color"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="home.tomikaa.chargecontroller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name="home.tomikaa.chargecontroller.ControllerService"
                android:enabled="true"
                android:exported="false">
        </service>
        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>
    </application>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>